.visible {
  display: block!important;
}

#sidebar-wrapper {
  background-color: #1c676a;
  max-width: 400px;
  opacity: 1;
  overflow: auto;
  text-align: center;
  color: white;
  display: block;
  -webkit-user-select: none;
}

#matt2LogoHomeSidebar {
  padding-top: 100px;
  height: 25px;
}

.links-sidebar li {
  padding-top: 20px;
}

#listOfLinks {
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
}



/* #listOfLinksManager > li:nth-child(2) {
  background-color: #1c676a;
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
  font-size: 12px;

} */

.links-sidebar a {
  text-decoration: none;
  color: white;
}

.links-sidebar a:hover {
  text-decoration: none;
  color: #cccccc;
}

.links-sidebar hr {
  color: white;
}

#toggleSidebar {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  display: block;
  margin-top: 10px;
}

#toggleSidebar:hover {
  cursor: pointer;
}
